# Cocos Creator временные файлы
library/
temp/
local/
build/
profiles/

# Node.js зависимости
node_modules/

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Метафайлы macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Метафайлы Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo
